* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: url('../data/background.png') repeat;
    font-size: 18px;
    min-height: 100%;
    color: #4B4B4B;
    padding: 0;
    margin: 0 auto;
    max-width: 780px;
}

header {
    border-bottom: 1px solid #4B4B4B;
    border-color: rgba(75, 75, 75, .5);
    font-variant: small-caps;
}

#title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.25em;
}

nav {
    margin: 0 auto;
    width: auto;
    border-radius: 0 0 5px 5px;
    text-align: right;
    float: right;
}

nav>ul {
    padding: 0;
    margin: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 .5em;
    display: inline-block;
    color: #4B4B4B;
    line-height: 1.875em;
}

nav>ul>li>a:hover {
    background: rgba(231, 114, 5, .7);
}

main {
    display: block;
    margin: -.25em auto 0;
    width: auto;
    padding: .5em;
    line-height: 1.35em;
    text-align: justify;
}

main a:link, main a:visited, footer a:link, footer a:visited {
    color: #E77205;
    text-decoration: underline;
}

main a:link:hover, footer a:link:hover {
    text-decoration: underline;
    -moz-text-decoration-style: double;
}

main h1:empty {
    display: none;
}

h1, h2, h3, h4 {
    font-variant: small-caps;
    line-height: 1.35em;
    clear: left;
    margin: 0;
    text-align: left;
}

h1 {
    font-size: 2.617em;
    margin-bottom: .25em;
    font-weight: 600;
    line-height: 1.125em;
}

h2 {
    font-size: 1.618em;
}

h3 {
    font-size: 1.272em;
}

h4 {
    font-size: 1.128em;
}

h5 {
    font-size: 1.061em;
}

h6 {
    font-size: 1em;
}

h1>a, h2>a, h3>a, h4>a {
    color: inherit!important;
}

#metadata {
    background: rgba(175, 175, 175, .1);
    overflow: hidden;
    text-align: left;
    max-width: 225px;
    float: right;
    padding: .5em;
    margin: 0 0 0 .5em;
    font-size: .85em;
    line-height: normal;
}

#metadata>.metah {
    font-size: 1.125em;
    display: block;
    font-weight: bold;
    font-variant: small-caps;

}

#metadata ul {
    margin: 0;
    padding: 0 0 0 1em;
}


main code {
    background: rgba(150, 150, 150, .1);
    font-size: .8em;
    padding: .125em .25em;
}

main pre>code {
    padding: .25em;
    border: none;
    display: block;
}

main pre {
    overflow: auto;
    max-height: 400px;
    margin: 0;
}

main hr {
    height: .25em;
    border: none;
    background-color: rgba(127, 127, 127, .25);
}

.footnotes ol {
    margin: 0;
    padding: 0 0 0 2em;
    list-style-position: outside;
}

/* Recent blog entries header */
.rbp {
    display: inline;
}

.blogentries {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}

.blogentries li {
    display: inline-block;
    width: 100%;
    padding: .25em; .5em;
}

.blogentry-date {
    padding: 0 .5em 0 0;
}

.hakyll {
    font-variant: small-caps;
}

footer {
    max-width: 780px;
    margin: .5em auto 0;
    padding: .25em .5em;
    font-size: .85em;
    text-align: left;
    border-top: 1px solid #4B4B4B;
    border-color: rgba(75, 75, 75, .5);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 1.5dppx) {

    body {
        background-image: url('../data/background@2X.png');
    }

}

/* Syntax highlighting */
pre.sourceCode span.kw { color: #007020; font-weight: bold; }
pre.sourceCode span.dt { color: #902000; }
pre.sourceCode span.dv { color: #40a070; }
pre.sourceCode span.bn { color: #40a070; }
pre.sourceCode span.fl { color: #40a070; }
pre.sourceCode span.ch { color: #4070a0; }
pre.sourceCode span.st { color: #4070a0; }
pre.sourceCode span.co { color: #60a0b0; font-style: italic; }
pre.sourceCode span.ot { color: #007020; }
pre.sourceCode span.al { color: red; font-weight: bold; }
pre.sourceCode span.fu { color: #06287e; }
pre.sourceCode span.er { color: red; font-weight: bold; }
