* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    background: #1A1F1E url("/data/background.png") repeat;
    font-family: sans-serif;
    font-size: 14px;
    min-height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #E3DFBA;
    background-image: inherit;
    margin: 0;
}

header, footer {
    background-color: #1A1F1E;
    background-image: inherit;
    color: #E3DFBA;
    overflow: hidden;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: .25em .5em;
    text-align: center;
    display: inline-block;
}

#title-box {
    padding: .5em;
}

#title {
    display: block;
    font-size: 2em;
    font-variant: small-caps;
    text-indent: .5em;
}


footer {
    font-size: .889em;
    padding: .5em;
}

#generator {
    float: right;
    margin-left: 1em;
}

main {
    color: #1A1F1E;
    padding: .5em 1em;
}

.blogentries {
    display: block;
    margin: 0 .5em;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

.blogentries li {
    display: inline-block;
    margin: 0 0 .25em;
    width: 100%;
}

.blogentry-date {
    padding: 0 .5em 0 0;
}

#metadata {
    background: rgba(26, 31, 30, .1);
    font-size: .85em;
    line-height: normal;
    overflow: hidden;
    padding: .5em;
    text-align: left;
}

#metadata>.metah {
    display: inline-block;
    font-size: 1.125em;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: .25em;
}

#metadata ul {
    margin: 0;
    padding: 0 0 0 1em;
}


/* content styles */

a:link, a:visited {
    color: #987C32;
    text-decoration: none;
}

a:link:hover, a:visited:hover {
    text-decoration: underline;
}

article {
    column-count: 1;
    column-gap: 1em;
    margin: 1em auto;
    max-width: 40em;
    -moz-column-count: 1;
    -moz-column-gap: 1em;
    -webkit-column-count: 1;
    -webkit-column-gap: 1em;
}

main code {
    background: rgba(26, 31, 30, .1);
    font-size: 1em;
    font-size: .889em;
    padding: .063em .25em;
}

main pre>code {
    border: none;
    display: block;
    overflow: auto;
    padding: .25em;
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
}

main pre {
    margin: 0;
    max-height: 20em;
    overflow: auto;
}

main figure {
    background-color: rgba(26, 31, 30, .1);
    margin: 0;
    max-width: 100%;
    width: -moz-min-content;
    /* Chrome handles this incorrectly, see https://code.google.com/p/chromium/issues/detail?id=229462
     * width: -webkit-min-content;*/
    width: min-content;
}

main hr {
    background-color: rgba(26, 31, 30, .25);
    border: none;
    height: .125em;
}

main blockquote {
    background-color: rgba(26, 31, 30, .1);
    margin:0 1em;
    overflow: hidden;
    padding: 0 .5em;
}

main img {
    max-width: 100%;
}

main figcaption {
    display: inline-block;
    margin: 0 0 .25em;
    text-align: center;
    width: 100%;
}

main article p {
    text-align: justify;
}

main ul, main ol {
    list-style-position: inside;
    padding-left: 1em;
}

h1, h2, h3, h4 {
    font-variant: small-caps;
    line-height: 1.35em;
    margin: 0;
    text-align: left;
}

h1 {
    font-size: 2.058em;
}

h2 {
    font-size: 1.618em;
}

h3 {
    font-size: 1.272em;
}

h4 {
    font-size: 1.128em;
}

h5 {
    font-size: 1.061em;
}

h6 {
    font-size: 1em;
}


pre.sourceCode span.kw { color: #007020; font-weight: bold; }
pre.sourceCode span.dt { color: #902000; }
pre.sourceCode span.dv { color: #40a070; }
pre.sourceCode span.bn { color: #40a070; }
pre.sourceCode span.fl { color: #40a070; }
pre.sourceCode span.ch { color: #4070a0; }
pre.sourceCode span.st { color: #4070a0; }
pre.sourceCode span.co { color: #60a0b0; font-style: italic; }
pre.sourceCode span.ot { color: #007020; }
pre.sourceCode span.al { color: red; font-weight: bold; }
pre.sourceCode span.fu { color: #06287e; }
pre.sourceCode span.er { color: red; font-weight: bold; }

/* page specific styles */

#index #links {
    overflow: hidden;
}

#index #recent-entries {
    overflow: hidden;
}

#index #rbp {
    display: inline;
}

.footnotes ol {
    list-style-position: outside;
    margin: 0;
    padding: 0 0 0 1.5em;
}

@media screen and (min-width: 60em) {
    html {
        font-size: 18px;
    }

    #title {
        font-size: 2.5em;
    }

    nav ul {
        padding: .25em .5em;
    }

    nav li {
        display: list-item;
    }

    article {
        column-count: 2;
        max-width: 80em;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }

    #metadata {
        float: left;
        max-width: 12.5em;
        margin-right: .5em;
    }
}

@media screen and (min-width: 90em) {
    article {
        column-count: 3;
        max-width: 120em;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
}

