@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200 900;
    font-style: normal;
    src: local('Source Code Pro'),
         url(/data/scvr.a.woff2) format('woff2'),
         url(/data/scvr.a.ttf) format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200 900;
    font-style: normal;
    src: local('Source Code Pro'),
         url(/data/scvr.c.woff2) format('woff2'),
         url(/data/scvr.c.ttf) format('truetype');
    font-display: fallback;
    unicode-range: var(--common-unicode-range);
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: italic;
    src: local('Source Serif 4 Bold Italic'),
         url(/data/ss4-bit.a.woff2) format('woff2'),
         url(/data/ss4-bit.a.ttf) format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: italic;
    src: local("Source Serif 4 Bold Italic"),
         url(/data/ss4-bit.c.woff2) format('woff2'),
         url(/data/ss4-bit.c.ttf) format('truetype');
    font-display: fallback;
    unicode-range: var(--common-unicode-range);
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: italic;
    src: local('Source Serif 4 Italic'),
         url(/data/ss4-it.a.woff2) format('woff2'),
         url(/data/ss4-it.a.ttf) format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: italic;
    src: local("Source Serif 4 Italic"),
         url(/data/ss4-it.c.woff2) format('woff2'),
         url(/data/ss4-it.c.ttf) format('truetype');
    font-display: fallback;
    unicode-range: var(--common-unicode-range);
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: local('Source Serif 4 Bold'),
         url(/data/ss4-b.a.woff2) format('woff2'),
         url(/data/ss4-b.a.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: local('Source Serif 4 Bold'),
         url(/data/ss4-b.c.woff2) format('woff2'),
         url(/data/ss4-b.c.ttf) format('truetype');
    unicode-range: var(--common-unicode-range);
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: local('Source Serif 4'),
         url(/data/ss4-r.a.woff2) format('woff2'),
         url(/data/ss4-r.a.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: local('Source Serif 4'),
         url(/data/ss4-r.c.woff2) format('woff2'),
         url(/data/ss4-r.c.ttf) format('truetype');
    unicode-range: var(--common-unicode-range);
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-size: clamp(1em, 3.5vw, 1.33em);
    font-family: 'Source Serif', serif;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

body {
    margin: 0;
    padding: 0;
    min-width: 300px;
}

footer,
header,
article p,
article ul,
article ol,
figure,
table,
pre,
blockquote,
caption,
mathp,
#footnotes {
    max-width: 980px;
    margin: 0 auto;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    max-width: 980px;
}

.fullwidth {
    width: 100%;
    max-width: unset;
}

main {
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bold;
    margin: 0.25em auto;
    padding: 0 .5em;
    padding: 0 .5rem;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.85em;
}

:link, :link>* {
    text-decoration: none;
    color: #268bd2;
}

:link:hover {
    text-decoration: underline;
}

:visited, :visited>* {
    color: #2aa198;
}

nav li a:visited {
    color: #268bd2;
}

p {
    margin: 0;
    padding: 0 .5em;
    text-indent: 1.75em;
    line-height: 1.25em;
    text-align: justify;
}

strong, b {
    font-weight: bold;
}

p>img {
    display: block;
    max-width: 100%;
    max-width: calc(100% + 1em);
    margin: .5em -.5em;
}

figure>img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

figure {
    margin: .5em auto;
    padding: 0;
}

figcaption, caption {
    padding: .05em .5em .25em;
    text-align: center;
}

table>caption {
    padding: .25em .5em .05em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: .5em auto;
    table-layout: fixed;
}

th {
    border-bottom: 1px solid #073642;
}

td, th {
    padding: 0 .75ex;
}

pre, code {
    font-family: "Source Code Pro", monospace;
}

pre {
    overflow-x: auto;
    padding: .5em 0;
    margin: .5em auto;
}

pre code {
    /* Banzai all the hacks! */
    display: inline-block;
    padding: 0 .5em;
}

blockquote {
    margin: .25em auto;
    padding: .25em 0;
}

article ol, article ul {
    margin: .5em auto;
    padding: 0 0 0 2.25em;
}

article ol ul, article ul ul, article ol ol, article ul ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

article>p:last-child, article>section:last-child {
    margin-bottom: .5em;
}

article>p:first-child, article>section:first-child {
    margin-top: .5em;
}

sup, sub {
    line-height: 0.5;
}

@supports(font-variant-position:sub){
    sub {
        vertical-align: baseline;
        font-size: 100%;
        line-height: inherit;
        font-variant-position: sub;
    }
}
@supports(font-variant-position:super){
    sup {
        vertical-align: baseline;
        font-size: 100%;
        line-height: inherit;
        font-variant-position: super;
    }
}

hr {
    border: none;
    margin: .25em 0;
    text-align: center;
    height: .5em;
}

hr:after {
    content: '· · ·';
    position: relative;
    top: -1em;
    font-size: 2em;
    line-height: 2.05em;
}

/* Math paragraph, for $$math$$ to not be considered literally its own paragraph
 *
 * Mostly just for display purposes.
 * */
mathp {
    text-indent: 0;
    display: block;
    max-width: calc(100% + 1em);
    overflow-x: auto;
    padding: .5em 0;
    margin: .5em -.5em;
}

mathp > math {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

mathp > math > semantics {
    margin: 0 .5em;
}

#metadata span {
    font-size: .85em;
}

#metadata {
    text-align: center;
    margin-bottom: 1em;
}

#metadata h1 {
    margin-bottom: 0em;
}

.footnoteRef sup {
    padding: 0 0.15em 0 0
}

#footnotes {
    overflow: hidden;
    margin-top: .25em;
    padding-bottom: .25em;
}

#footnotes p {
    text-indent: 0;
    margin: 0;
    padding: 0;
}

#footnotes ol {
    margin: 0;
    padding: 0 .25em 0 2em;
    padding-left: 4ch;
}

#footnotes li {
    padding: 0 .25em;
}

#footnotes .footnote-back {
    float: right;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#title {
    white-space: nowrap;
    padding: .5em;
    flex-grow: 1;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0;
}

nav li a {
    display: block;
    padding: .5em;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: none!important;
}

footer {
    padding: .5em .5em;
    overflow: hidden;
}

#generator, #copy {
    font-size: 0.75em;
}

#generator {
    float: right;
}

#generator::before, #generator:before{
    content: "Made with";
}

#copy {
    float: left;
}

#copy::before, #copy:before {
    content: "The content in this page is licensed under";
}

@media screen and (max-width: 400px) {
    .entries li { padding: .5em 0 !important; }
}

@media screen and (max-width: 400px){
    #copy::before, #copy:before {
        content: "©";
    }

    #generator::before, #generator:before{
        content: "";
    }
}

html { background: #fdf6e3; color: #657b83; }
h1, h2, h3, h4, h5, h6, strong, b { color: #586e75; }
#hdr { background: #002b36; color: #839496; }
nav li a:hover { background: #073642; }
#footnotes li:target { background: #fdf6e3; border-color: #eee8d5; }
#footnotes { background: #eee8d5; }
figure, table, pre, blockquote, caption, mathp { background: #eee8d5; }
#metadata span { color: #93a1a1; }
:link>del, :visited>del, del { color: #93a1a1; text-decoration: line-through; }
::-moz-selection { color: #93a1a1;  background: #002b36; }
::selection { color: #93a1a1;  background: #002b36; }
#hdr *::-moz-selection { background: #fdf6e3; color: #586e75; }
#hdr *::selection { background: #fdf6e3; color: #586e75; }

@media (prefers-color-scheme: dark) {
  html { background: #002b36; color: #839496; }
  h1, h2, h3, h4, h5, h6, strong, b { color: #93a1a1; }
  #hdr { background: #fdf6e3; color: #657b83; }
  nav li a:hover { background: #eee8d5; }
  #footnotes li:target { background: #002b36; border-color: #073642; }
  #footnotes { background: #073642; }
  figure, table, pre, blockquote, caption, mathp { background: #073642; }
  del, :link>del, :visited>del, #metadata span { color: #586e75; }
  ::-moz-selection { color: #586e75;  background: #fdf6e3; }
  ::selection { color: #586e75;  background: #fdf6e3; }
  #hdr *::-moz-selection { background: #002b36; color: #93a1a1; }
  #hdr *::selection { background: #002b36; color: #93a1a1; }
}

@media not print {
    code span.kw { color: #859900; }
    code span.dt { color: #b58900; }
    code span.dv, code span.fl, code span.st, code span.ch,
    code span.sc, code span.ss, code span.vs, code span.bn { color: #2aa198; }
    code span.at, code span.op { color: #dc322f; }
    code span.co { color: #839496; }
    code span.cv { color: #839496; font-weight: bold; font-style: italic; }
    code span.do { color: #839496; }
    code span.ot, code span.cf, code span.im { color: #859900; }
    code span.va { color: #2aa198; }
    code span.fu { color: #268bd2; }
    code span.al, code span.er { color: #d33682; font-weight: bold; } /* Alert */
    code span.an { color: #6c71c4; font-weight: bold; font-style: italic; } /* Annotation */
    code span.in, code span.wa { color: #b58900; font-weight: bold; font-style: italic; }
    code.diff span.st { color: #dc322f; }
    code.diff span.va { color: #859900; }
    @media (prefers-color-scheme: dark) {
        code span.co { color: #657b83; }
        code span.cv { color: #657b83; font-weight: bold; font-style: italic; }
        code span.do { color: #657b83; }
    }
}

@media print {
    * { background: transparent !important; }

    main, header, footer {
        width: auto;
        max-width: none;
    }

    html, body{
        font-size: initial !important;
        color: #000;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #000;
    }

    nav {
        display: none;
    }

    #generator {
        display: none;
    }

    main {
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none;
    }

    #title {
        color: #000;
        text-align: center;
        font-size: 2em;
    }

    #copy::before, #copy:before {
        content: "The content in this document is licensed under";
    }
}

/* Specific pages */
.years, .entries {
    list-style: none;
    padding: 0 .5em;
    margin: 1em auto .5em;
}

.entries {
    padding: 0 0 0 2.5em;
    margin: 0;
}

.years>li:before {
    content: attr(data-year) "";
    font-weight: bold;
}

.entries li {
    padding: .25em 0;
}

.entries>li:before {
    content: attr(data-moday) "";
    display: inline-block;
    min-width: 2.5em;
    text-align: center;
}

.entries time {
    display: none;
}
