@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200 900;
    font-style: normal;
    src: local('Source Code Pro'),
         url(/data/scvr.a.woff2) format('woff2'),
         url(/data/scvr.a.ttf) format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200 900;
    font-style: normal;
    src: local('Source Code Pro'),
         url(/data/scvr.c.woff2) format('woff2'),
         url(/data/scvr.c.ttf) format('truetype');
    font-display: fallback;
    unicode-range: var(--common-unicode-range);
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: italic;
    src: local('Source Serif 4 Bold Italic'),
         url(/data/ss4-bit.a.woff2) format('woff2'),
         url(/data/ss4-bit.a.ttf) format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: italic;
    src: local("Source Serif 4 Bold Italic"),
         url(/data/ss4-bit.c.woff2) format('woff2'),
         url(/data/ss4-bit.c.ttf) format('truetype');
    font-display: fallback;
    unicode-range: var(--common-unicode-range);
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: italic;
    src: local('Source Serif 4 Italic'),
         url(/data/ss4-it.a.woff2) format('woff2'),
         url(/data/ss4-it.a.ttf) format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: italic;
    src: local("Source Serif 4 Italic"),
         url(/data/ss4-it.c.woff2) format('woff2'),
         url(/data/ss4-it.c.ttf) format('truetype');
    font-display: fallback;
    unicode-range: var(--common-unicode-range);
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: local('Source Serif 4 Bold'),
         url(/data/ss4-b.a.woff2) format('woff2'),
         url(/data/ss4-b.a.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: local('Source Serif 4 Bold'),
         url(/data/ss4-b.c.woff2) format('woff2'),
         url(/data/ss4-b.c.ttf) format('truetype');
    unicode-range: var(--common-unicode-range);
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: local('Source Serif 4'),
         url(/data/ss4-r.a.woff2) format('woff2'),
         url(/data/ss4-r.a.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: local('Source Serif 4'),
         url(/data/ss4-r.c.woff2) format('woff2'),
         url(/data/ss4-r.c.ttf) format('truetype');
    unicode-range: var(--common-unicode-range);
}

:root {
    font-size: clamp(1em, 2.5vw, 1.3333em);
}

@media not print {
    :root {
        --bg: #fdf6e3;
        --bghl: #eee8d5;
        --fg: #586e75;
        --fglc: #839496;
        --ibg: #002b36;
        --ibghl: #073642;
        --ifg: #93a1a1;

        --yl: #b58900;
        --or: #cb4b16;
        --rd: #dc322f;
        --mg: #d33682;
        --vl: #6c71c4;
        --bl: #268bd2;
        --cn: #2aa198;
        --gr: #859900;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --bg: #002b36;
            --bghl: #073642;
            --fg: #93a1a1;
            --fglc: #657b83;
            --ibg: #fdf6e3;
            --ibghl: #eee8d5;
            --ifg: #586e75;
        }
    }
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif', serif;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
    background: var(--bg);
    color: var(--fg);
}

body {
    margin: 0;
    padding: 0;
    min-width: 300px;
}

footer,
header,
article p,
article ul,
article ol,
figure,
table,
pre,
blockquote,
caption,
figcaption,
mathp,
.footnotes,
#metadata {
    max-width: 980px;
    margin: 0 auto;
}

table, pre, blockquote, caption, mathp {
    border: var(--bghl) solid;
    border-width: 0 .25rem;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    max-width: 980px;
}

.fullwidth {
    width: 100%;
    max-width: unset;
}

main {
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0 auto;
    padding: .5rem;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.85em;
}

:link, :link>* {
    text-decoration: none;
    color: var(--bl);
}

:link:hover {
    text-decoration: underline;
}

:link>del, :visited>del, del {
    color: var(--fglc);
    text-decoration: line-through;
}

:visited, :visited>* {
    color: var(--cn);
}

p {
    padding: 0 .5em;
    text-indent: 1.75em;
    text-align: justify;
}

strong, b {
    font-weight: bold;
}

p>img {
    display: block;
    max-width: 100%;
    max-width: calc(100% + 1em);
    margin: .5em -.5em;
}

figure>img, figure>object {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    border-bottom: solid var(--bghl) .25rem;
}

figure {
    margin: .25em auto;
    padding: 0;
}

figcaption, caption {
    text-align: left;
    padding: .25rem;
    border: solid var(--bghl);
    border-width: 0 .25rem;
}

table>caption {
    padding: .25em .25rem .05em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: .5em auto;
    table-layout: fixed;
}

th {
    border-bottom: .25rem solid var(--bghl);
}

td, th {
    padding: 0 .75ex;
}

pre, code {
    font-family: "Source Code Pro", monospace;
}

pre {
    overflow-x: auto;
    padding: .25rem 0;
    margin: .25rem auto;
}

pre code {
    /* Banzai all the hacks! */
    display: inline-block;
    padding: 0 .25rem;
}

code span.kw { color: var(--gr); }
code span.dt { color: var(--yl); }
code span.dv, code span.fl, code span.st, code span.ch,
code span.sc, code span.ss, code span.vs, code span.bn { color: var(--cn); }
code span.at, code span.op { color: var(--rd); }
code span.co { color: var(--fglc); }
code span.cv { color: var(--fglc); font-weight: bold; font-style: italic; }
code span.do { color: var(--fglc); }
code span.ot, code span.cf, code span.im { color: var(--gr); }
code span.va { color: var(--cn); }
code span.fu { color: var(--bl); }
code span.al, code span.er { color: var(--mg); font-weight: bold; } /* Alert */
code span.an { color: var(--vl); font-weight: bold; font-style: italic; } /* Annotation */
code span.in, code span.wa { color: var(--yl); font-weight: bold; font-style: italic; }
code.diff span.st { color: var(--rd); }
code.diff span.va { color: var(--gr); }
@media (prefers-color-scheme: dark) {
    code span.co { color: var(--fglc); }
    code span.cv { color: var(--fglc); font-weight: bold; font-style: italic; }
    code span.do { color: var(--fglc); }
}


blockquote {
    margin: .25rem auto;
    padding: .25rem 0;
}

blockquote p {
    padding: 0 .25rem;
}

article ol, article ul {
    margin: .5em auto;
    padding: 0 0 0 2.25em;
}

article ol ul, article ul ul, article ol ol, article ul ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

article>p:last-child, article>section:last-child {
    margin-bottom: .5em;
}

article>p:first-child, article>section:first-child {
    margin-top: .5em;
}

@supports(font-variant-position:sub){
    sub {
        vertical-align: baseline;
        font-size: 100%;
        line-height: inherit;
        font-variant-position: sub;
    }
}
@supports(font-variant-position:super){
    sup {
        vertical-align: baseline;
        font-size: 100%;
        line-height: inherit;
        font-variant-position: super;
    }
}

hr {
    border: none;
    text-align: center;
}

hr::after, hr:after {
    content: '· · · · ·';
    font-size: 2em;
    height: .75em;
    line-height: .75em;
}

/* Math paragraph, for $$math$$ to not be considered literally its own paragraph
 *
 * Mostly just for display purposes.
 * */
mathp {
    text-indent: 0;
    display: block;
    max-width: calc(100% + 1em);
    overflow-x: auto;
    padding: .5em 0;
    margin: .5em -.5em;
}

mathp > math {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

mathp > math > semantics {
    margin: 0 .5em;
}

#metadata {
    margin: 1em auto;
    padding: 0 .5rem;
}

#metadata time {
    font-size: .75em;
    color: var(--fglc);
}

#metadata h1 {
    line-height: 1em;
    padding: 0;
}

.footnote-ref sup:before {
    content: "[^";
}
.footnote-ref sup:after {
    content: "]";
}

.footnotes {
    overflow: hidden;
    padding: .25em 0;
    border: solid var(--bghl);
    border-width: 0 .25rem;
}

.footnotes p {
    text-indent: 0;
    margin: 0;
    padding: 0;
}

.footnotes ol {
    margin: 0;
    padding: 0 .25em 0 2em;
    padding-left: 4ch;
}

.footnotes li {
    padding: 0 .25em;
}

.footnotes li:target {
    background: var(--bg);
    border-color: var(--bghl);
}

.footnotes .footnote-back {
    float: right;
}

.footnotes hr {
    height: initial;
    text-align: initial;
    padding: .25rem .5rem .5rem;
    margin: 0;
}

.footnotes hr::after, .footnotes hr:after  {
    content: "Footnotes";
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.25em;
    color: var(--fg);
}

#hdr {
    background: var(--bghl);
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#title {
    white-space: nowrap;
    padding: .5em;
    flex-grow: 1;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0;
}

nav li a {
    display: block;
    padding: .5em;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: none!important;
    background: var(--bg);
}

nav li a:visited {
    color: var(--bl);
}

footer {
    padding: .5em .5em;
    overflow: hidden;
}

#generator, #copy {
    font-size: 0.75em;
}

#generator {
    float: right;
}

#generator::before, #generator:before{
    content: "Made with";
}

#copy {
    float: left;
}

#copy::before, #copy:before {
    content: "The content in this page is licensed under";
}

@media screen and (max-width: 400px){
    #copy::before, #copy:before {
        content: "©";
    }

    #generator::before, #generator:before{
        content: "";
    }
}

@media print {
    main, header, footer {
        width: auto;
        max-width: none;
    }

    html, body{
        font-size: initial !important;
    }

    nav {
        display: none;
    }

    #generator {
        display: none;
    }

    main {
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none;
    }

    #title {
        font-size: 2em;
    }

    #copy::before, #copy:before {
        content: "The content in this document is licensed under";
    }
}

::-moz-selection {
    color: var(--ifg);
    background: var(--ibg);
}
::selection {
    color: var(--ifg);
    background: var(--ibg);
}

/* Specific pages */
.years, .entries {
    list-style: none;
    padding: 0 .5em;
    margin: 1em auto .5em;
}

.entries {
    padding: 0 0 0 2.5em;
    margin: 0;
}

.years>li:before {
    content: attr(data-year) "";
    font-weight: bold;
}

.entries li {
    padding: .25em 0;
}

.entries>li:before {
    content: attr(data-moday) "";
    display: inline-block;
    min-width: 2.5em;
    text-align: center;
}

.entries time {
    display: none;
}

@media screen and (max-width: 400px) {
    .entries li { padding: .5em 0; }
}
