<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Simonas Kazlauskas">
        <title>$title$ – Simonas Kazlauskas</title>
        <link rel="stylesheet" type="text/css" href="/data/sandwich.css" />
        <link rel="alternate" type="application/atom+xml"
              title="Simonas Kazlauskas" href="/feed.atom" />
        <script async type="text/javascript" src="/data/site.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul><li>
                    <a href="/index.html">About me</a>
                </li><li>
                    <a href="/entries.html">Entries</a>
                </li><li>
                    <a href="/pgp.html">PGP</a>
                </li></ul>
            </nav>

            <div id="title-box">
                <div id="intro">Simonas about</div>
                <div id="title">$title$</div>
            </div>
        </header>
        <main role="main">
            $body$
        </main>
        <footer>
        <div id="generator">
        Proudly <a class="hakyll" href="http://jaspervdj.be/hakyll">Hakyll</a>
        </div>
        The con&shy;tent in this doc&shy;u&shy;ment is li&shy;cen&shy;sed
        un&shy;der a
        <a href="http://creativecommons.org/licenses/by/3.0/deed.en_GB"
        rel="license" title="Creative Commons Attribution 3.0 Unported">
        CC BY 3.0 Li&shy;cen&shy;se</a> un&shy;less ex&shy;plic&shy;itly stated
        oth&shy;er&shy;wise.
        </footer>
    </body>
</html>
