<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="author" content="Simonas Kazlauskas">
        <title>$title$ – Simonas Kazlauskas</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="alternate" type="application/atom+xml"
              title="Simonas Kazlauskas" href="/feed.atom" />
    </head>
    <body>
        <header>
            <nav>
                <ul><li>
                    <a href="/index.html">About me</a>
                </li><li>
                    <a href="/entries.html">Entries</a>
                </li><li>
                    <a href="/pgp.html">PGP</a>
                </li></ul>
            </nav>
            <span id="title">$title$</span>
        </header>
        <main role="main">
            <article>
            $body$
            </article>
        </main>
        <footer>
        The con&shy;tent in this doc&shy;u&shy;ment is li&shy;cen&shy;sed
        un&shy;der a
        <a href="http://creativecommons.org/licenses/by/3.0/deed.en_GB"
        rel="license" title="Creative Commons Attribution 3.0 Unported">
        CC BY 3.0 Li&shy;cen&shy;se</a> un&shy;less ex&shy;plic&shy;itly stated
        oth&shy;er&shy;wise.<br>
        Proudly <a class="hakyll" href="http://jaspervdj.be/hakyll">Hakyll</a>.
        </footer>
    </body>
</html>
