<!DOCTYPE HTML>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Simonas Kazlauskas">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="$description$">
        <title>$title$</title>
        <style>:root { --common-unicode-range: $common-unicode-ranges$; }</style>
        <link rel="stylesheet" type="text/css" href="/data/sandwich.18.css">
        <link rel="alternate" type="application/atom+xml" href="/feed.atom">
        <script async type="text/javascript" src="/data/site.3.js"></script>
    </head>
    <body>
        <div id="hdr">
        <header>
            <span id="title">Simonas Kazlauskas’ blog</span>
            <nav><ul>
                <li><a href="/">Index</a></li>
                <li><a href="/about-contact">About / Contact</a></li>
            </ul></nav>
        </header>
        </div>
        <main role="main">
            $body$
        </main>
        <footer>
            <div id="generator">
                <a href="http://jaspervdj.be/hakyll" class="hakyll">Hakyll</a>
            </div>
            $if(copy)$
            <span id="copy">
                <!-- TODO -->
                <a href="$copyUrl$" title="$copyTitle$">$copy$</a>
            </span>
            $endif$
        </footer>
    </body>
</html>
